<a class="pull-left" href="{{urlForUserFromPost(post)}}" title='{{post.score}}'>
  <img class="media-object" src="{{avatarFromPost(post)}}" alt='{{usernameFromPost(post)}}' width='35' height='35'>
</a>
<div class="media-body">
  <h5 class="media-heading">
    <a href='{{ urlForUserFromPost(post) }}' ng-bind='usernameFromPost(post)'></a>
    <span class='muted'> &sdot; <a href='{{post.canonical_url}}' ng-bind='post.created_at| fromNow' title='{{post.created_at}}'></a></span>
  </h5>
  <p ng-bind-html='getSafeHtml(post.html)'></p>
  <p ng-show='post.imgUrl' class='post-media'><img src="{{post.imgUrl}}" class="img-thumbnail"></p>
  <p>
    <ul class='list-inline actions'>
      <li ng-class="{'active': post.you_starred}">
        {{post.num_stars}} <a href='#' ng-click='starPost(post)'><i class='fa fa-star'></i></a>
      </li>
      <li ng-class="{'active': post.you_reposted}">
        {{post.num_reposts}} <a href='#' ng-click='repostPost(post)'><i class='fa fa-retweet'></i></a>
      </li>
      <li>
        <a href='#' ng-click='toggleReply(post)'>Reply</a>
      </li>
    </ul>
  </p>
  <div comet-coment-box reply-to='post.id' reveal='post.showReply' reply-to-username='post.user.username' post-text='postText' thread-id='post.localThreadId'></div>
  <ul class="media-list">
    <li ng-repeat='post in post.replies track by post.id'>
      <div class="media" ng-include="'views/includes/post.html'"></div>
    </li>
  </ul>
</div>
